@import url('font.css');
@import url('null.css');
body {
    font-family: 'Source Sans Pro' sans-serif;
}
[class*='__container'] {
    max-width: 1054px;/* 1024+15+15 */
    padding-inline: 15px;
    margin: 0 auto;
}
.page {}
[class*='page__'] {
    padding-block: 64px;
}
@media (max-width: 767.98px){
    [class*="page__"] {
        padding-block: 32px;
    }  
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}
/* ===================================================================== */
.button {
    text-align: center;
    text-transform: uppercase;
    background-color: #d8ae5e;
    border-radius: 4px;
    padding: 8px 16px;
    color: #f4f4f4;
    transition: all 0.3s;
}
@media (any-hover: hover){
    .button:hover{
        background-color: #99793f;
    }
}

.header-block {
    text-align: center;
}
.header-block__title {
    text-transform: uppercase;
    font-family: 'Bodoni 72' serif;
    font-size: 64px;
}
.header-block__title:not(:last-child) {
    margin-bottom: 8px;
}
.header-block__text {
    letter-spacing: 0.8px;
    line-height: 1.2;
    text-transform: uppercase;    
}
.header-block__text p:not(:last-child) {
    margin-bottom: 5px;
}
.header-block::after {
    content: '';
    width: 120px;
    height: 1px;
    background-color: #d8ae5e;
    margin-top: 32px;
}
@media (max-width: 767.98px){
    .header-block::after {
        margin-top: 16px;
    }
    .header-block__title {
        font-size: 42px;
    } 
    .header-block__text {
        font-size: 14px;
    }
}
@media (max-width: 479.98px){
    .header-block__title {
        font-size: 32px;
    } 
}

.hover-link {
    position: relative;
    transition: all 0.4s ease 0s;
}
.hover-link::after{
    content:'';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    transition: width 0.3s ease 0s;
    background-color: #d8ae5e;
}
@media (any-hover: hover){
    .hover-link:hover{
        color: #d8ae5e;
    }
    .hover-link:hover::after {
        width: 100%;
    }
}

/* ===================================================================== */
.menu {
}
.menu__list {
    display: flex;
    column-gap: 16px;
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}
.menu__item {
}
.menu__link {
}
.hero {
    position: relative;
    color: #fff;
}
.hero::before {
    content: '';
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;    
    opacity: 0.6;
}
.hero__container {
    position: relative;
    z-index: 3;
    min-height: 100svh;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 7.76699svh;
    row-gap: 15.533981svh;
}
.hero__header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3.883495svh; /* 32/824 */
}
.hero__logo {
}
.hero__menu {
}
.hero__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.427184svh;
}
.hero__title {
    text-transform: uppercase;
    font-family: 'Bodoni 72' serif;
    font-size: 96px;
}
.hero__label {
    font-size: 24px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}
.hero__button {
}
.hero__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 676.98px){
    .hero__title {
        font-size: 66px;
    }
    .menu__link {
        font-size: 20px;
    }
}
/* ===================================================================== */
.about {
}
.about__container {
}
.about__header {
    margin-bottom: 32px;
}
.about__content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.about__text {
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1px;
}
.about__text p:not(:last-child) {
    margin-bottom: 10px;
}
.about__text:not(:last-child) {
    margin-bottom: 32px;
}
.about__button {
}
@media (max-width: 767.98px){
    .about__text {
        font-size: 16px;
    }
    .about__text:not(:last-child) {
        margin-bottom: 16px;
    }
    .about__header {
        margin-bottom: 16px;
    }
}
/* ===================================================================== */
.activities {
	background-color: #f4f4f4;
}
.activities__container {
	display: flex;
	flex-direction: column;
	gap: 64px;
	align-items: center;
}
.activities__header {
}

.activities__items {
	max-width: 930px;
	margin: 0 auto;
	align-self: stretch;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 128px;
	row-gap: 96px;
}
.activities__item {
	text-align: center;
	flex: 0 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.item-activities {
}
.item-activities__image {
	flex-grow: 1;
}
.item-activities__icon {
	max-width: 100%;
}
.item-activities__image:not(:last-child) {
	margin-bottom: 16px;
}
.item-activities__label {
	letter-spacing: 1px;
	font-size: 20px;
}
.activities__link {
	padding-bottom: 8px;
	border-bottom: 1px solid #d8ae5e;
	transition: all 0.3s;
}
@media (any-hover: hover) {
	.activities__link:hover {
		border-bottom: 1px solid #000;
	}
}

@media (max-width: 991.98px) {
	.activities__items {
		row-gap: 50px;
		column-gap: 80px;
	}
	.activities__container {
		gap: 44px;
	}
}
@media (max-width: 767.98px) {
	.activities__items {
		row-gap: 30px;
		column-gap: 50px;
	}
	.activities__container {
		gap: 32px;
	}
}
@media (max-width: 430px) {
	.activities__items {
		justify-content: flex-start;
		row-gap: 25px;
		column-gap: 20px;
	}
	.activities__item {
		text-align: left;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		column-gap: 20px;
		flex: 1 1 100%;
	}
	.item-activities__image {
		flex: 0 0 60px;
	}
	.item-activities__image:not(:last-child) {
		margin-bottom: 0px;
	}
}
/* ===================================================================== */
.amenities {
}
.amenities__container {
}
.amenities__header {
}
.amenities__header:not(:last-child) {
    margin-bottom: 64px;
}
.amenities__sections {
}
.amenities__section:not(:last-child) {
    margin-bottom: 74px;
}
.section-amenities__title {
    text-align: center;
    text-transform: uppercase;
    line-height: 1.25;
    font-size: 24px;
    letter-spacing: 3,6px;
}
.section-amenities__title:not(:last-child) {
    margin-bottom: 32px;
}
.section-amenities__items {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.section-amenities__item {
    border-radius: 4px;
    overflow: hidden;
    flex-basis: 291px;
}
.section-amenities__item:nth-child(6n + 3),
.section-amenities__item:nth-child(6n + 4) {
	flex-basis: 408px;
}
.section-amenities__item:nth-child(6n + 3) .section-amenities__link,
.section-amenities__item:nth-child(6n + 4) .section-amenities__link {
	aspect-ratio: 408 / 286;
}

@media (any-hover: hover) {
	.section-amenities__item:hover .section-amenities__image {
		transform: scale(1.05);
	}
}
.section-amenities__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    aspect-ratio: 291 / 286; /* ширина / высота */
}
.section-amenities__link::after {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	content: "";
	background-color: #000;
	opacity: 0.2;
}
.section-amenities__label {
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.25;
    letter-spacing: 4.2px;
    text-align: center;
    color: #fff;
}
.section-amenities__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}
@media (max-width: 1050.98px){
    .section-amenities__items {
        justify-content: center;
    }
    .section-amenities__item:nth-child(6n + 3),
    .section-amenities__item:nth-child(6n + 4) {
        flex-basis: 291px;
    }
    .section-amenities__item:nth-child(6n + 3) .section-amenities__link,
    .section-amenities__item:nth-child(6n + 4) .section-amenities__link {
        aspect-ratio: 291 / 286;
    }
}
@media (max-width: 767.98px){
    .amenities__header:not(:last-child) {
        margin-bottom: 32px;
    }
    .amenities__section:not(:last-child) {
        margin-bottom: 32px;
    }
}
/* ===================================================================== */
.contacts {
    background-color: #f4f4f4;
}
.contacts__container {
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.contacts__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.contacts__link {
    display: flex;
    gap: 10px;
    align-items: center;
    letter-spacing: 0.8px;
}
.contacts__link--phone::before {
    content: url('../img/footer/phone.svg');
}
.contacts__link--mail::before {
    content: url('../img/footer/mail.svg');
}
.contacts__link--location::before {
    content: url('../img/footer/location.svg');
}
.contacts__social {
}
@media (max-width: 767.98px){
    .contacts__container {
        gap: 32px;
    }
    .contacts__items {
        gap: 15px;
    }
}
.social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 32px;
    row-gap: 16px;
}
.social__item {
    transition: all 0.3s;
}
@media (any-hover: hover){
    .social__item:hover{
        transform: scale(1.08);
    }
}
/* ===================================================================== */
.footer {
    padding-block: 64px;
}
.footer__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 64px;
    letter-spacing: 0.8px;
}
.footer__logo {
}
.footer__social {
}
.footer__contacts {
    line-height: 1.5;
    text-align: center;
}
.footer__link {    
}
.footer__copy p span {
    font-weight: 600;
}
.footer__copy p:not(:last-child) {
    margin-bottom: 16px;
}
@media (max-width: 767.98px){
    .footer {
        padding-block: 32px;
    }
    .footer__container {
        gap: 32px;
    } 
}
/* ===================================================================== */

/* ===================================================================== */

/* ===================================================================== */